/*변수 목록*/
body[data-theme='light-mode'] {
  --background-color: #fff3e0;
  --text-color: #1b1b1b;
  --button-color: #ffe97d;
}

body[data-theme='dark-mode'] {
  --background-color: #1b1b1b;
  --text-color: #fff3e0;
  --button-color: #ffe97d;
}

:root {
  --loading-indicator-color: #ff9d3f;
  --loading-indicator-background: #efebe9;
  --black: #1b1b1b;
  --white: #fff3e0;
}

/*기본 설정*/
html {
  box-sizing: border-box;
}

body * {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*메인 화면*/
#App {
  column-gap: 1.5em;
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  padding: 1.5em;
}

.SearchInput {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
}

.header {
  display: flex;
  flex-direction: column;
}

/* 다크모드 체크박스 */
.darkmode_checkbox {
  margin-bottom: 10px;
}

.darkmode_input:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/* 검색창 */
.search__container {
  display: flex;
  flex-direction: row;
}

/* 랜덤 고양이 버튼 */
.random_button {
  width: 100px;
  margin-left: 10px;
  border: none;
  background-color: var(--button-color);
  border-radius: 5px;
  cursor: pointer;
}

.random_button:hover {
  transform: scale(1.1);
}

/* 검색 결과 없을 때 UI : TODO */
.no_search_result {
  visibility: hidden;
}

/*검색 결과*/
.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

/*검색 결과 반응형*/
@media screen and (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

.SearchResult .item {
  position: relative;
  display: inline-block;
  margin: 0 0 1em;
  height: 300px;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
}

.SearchResult .item .describer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.411);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

/*상세정보 모달*/
.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

/*데이터 로딩 화면*/
.loading_view {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.308);
  z-index: 1000;
}

.loading_view .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading_view .loadingText {
  font-size: 20px;
  color: var(--text-color);
}

/* 로딩 인디케이터 */
.loader {
  border: 16px solid var(--loading-indicator-background);
  border-top: 16px solid var(--loading-indicator-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-bottom: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}